body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("./images/ripple_effect.jpg");
  background-size: cover;
}

.btn {
  background-color: #fff;
  padding: 30px 50px;
  font-size: 30px;
  box-shadow: 10px 10px 5px 0px rgba(137, 181, 46, 0.68);
  text-decoration: none;
  color: #000;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  background-color: rgb(213, 243, 155);
  width: 0;
  height: 0;
  border-radius: 50%;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  transition: width 0.5s, height 0.5s;
}

.btn:hover:before {
  width: 400px;
  height: 400px;
}
